/* Блок "Отмена" */
.cancellation {
    width: 300px;
    height: auto;
}

.cancellationTitle {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark-100);
    margin-bottom: 20px;
}

.cancellationText {
    font-size: 14px;
    color: var(--dark-50);
    line-height: 1.7;
}

@media (max-width: 900px) {
    .cancellation{
        margin: auto auto 30px auto;
    }
}