.roomPageContainer {
    display: grid;
    grid-template-areas: 
      "small1 small2 large2"
      "large1 large1 large2";
      grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0 80px 0 0;
    gap: 10px;
}
/* Каждый элемент галереи */
.roomItem {
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
/* Задаём `grid-area` через `nth-child` */
.roomPageContainer > div:nth-child(1) {
    grid-area: large1;
}
.roomPageContainer > div:nth-child(2) {
    grid-area: large2;
}
.roomPageContainer > div:nth-child(3) {
    grid-area: small1;
}
.roomPageContainer > div:nth-child(4) {
    grid-area: small2;
}

@media (max-width: 1091px) {
    .roomPageContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "small1 small2"
            "large2 large2"
            "large1 large1";
        padding: 0 30px;
    }
}

@media (max-width: 778px) {
    .roomPageContainer {
        grid-template-areas: 
            "small1"
            "small2"
            "large2"
            "large1";
        grid-template-columns: 1fr; /* Теперь всё в один столбец */
        padding: 0 20px; /* Уменьшаем боковые отступы */
    }
}